@model RecipeWeb.Data.Rating
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/Components/ratingcreate.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Components/AvatarProfile.css" asp-append-version="true" />
</head>

<div class="rating-component">
    <div class="profile">
        <div class="avatar-container">
            @await Component.InvokeAsync("Avatar2")
        </div>
    </div>

    <form asp-action="SubmitRating" asp-controller="Ratings" method="post" class="rating-form">
        <input type="hidden" name="RecipeId" value="@Model.RecipeId" />
        <input type="hidden" name="UserId" value="@Model.UserId" />

        <div class="rating-content">
            <div class="rating-stars">
                @for (int i = 5; i >= 1; i--)
                {
                    <input type="radio" id="star-@i" name="RatingScore" value="@i" @(Model.RatingScore == i ? "checked" : "")>
                    <label for="star-@i" class="star"><i class="fas fa-star"></i></label>
                }
            </div>

            <textarea name="Commnent" placeholder="Please write your comment here........">@Model.Commnent</textarea>
        </div>

        <button class="mt-2" type="submit">Submit</button>
    </form>
</div>

